.accordion {
  position: relative;

  &:not(.accordion--closed) {
    padding-bottom: 26px;
  }
}

.accordion button {
  position: absolute;
  top: 0;
  left: 0;

  padding: 4px;
  width: 100%;
  height: 100%;
  display: none;

  vertical-align: top;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 4px;
    right: 0;

    width: 16px;
    height: 16px;

    content: "";

    background-color: $basic-light-grey-color;
  }

  &::before {
    top: 37px;

    height: 1px;
  }

  &::after {
    top: 29px;
    right: 7px;

    width: 1px;
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    display: inline-block;

    vertical-align: top;
  }
}

.accordion__header {
  position: relative;
}

.accordion--closed:not(.accordion--nojs) *:not(h2):not(button):not(.accordion__header) {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.accordion--closed:not(.accordion--nojs) h2 {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 26px;
  }
}

.accordion--closed button {
  &::after {
    display: block;
  }
}

.accordion--nojs button {
  display: none;
}
