.feedback {
  position: relative;
  z-index: 2;

  padding-top: 92px;
  padding-bottom: 114px;

  &::after {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: -2;

    width: 364px;
    height: 670px;

    content: "";

    background-image: url("../img/triangles.svg");
    background-size: 364px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 80px;
    padding-bottom: 103px;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 28px;
    padding-bottom: 37px;
  }
}

.feedback h2,
.feedback p,
.feedback__form {
  margin-left: auto;
  margin-right: 122px;
  width: 570px;

  @media (max-width: $tablet-width-only) {
    margin-right: auto;
    width: 590px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.feedback__form {
  position: relative;

  flex-direction: row;
  align-items: flex-start;

  &::before {
    position: absolute;
    top: -231px;
    left: -801px;

    width: 686px;
    height: 641px;

    content: "";

    background-image: url("../img/paper-airplane.png");
    background-size: 686px auto;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/paper-airplane@2x.png");
    }
  }

  @media (max-width: $tablet-width-only) {
    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.feedback__username-field,
.feedback__phone-field {
  width: 47.36%;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.feedback__username-field {
  margin-right: auto;
  margin-top: 54px;

  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
  }
}

.feedback__phone-field {
  margin-top: 54px;

  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
  }
}

.feedback__form button {
  margin-right: auto;
  width: 270px;

  @media (max-width: $tablet-width-only) {
    width: 281px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.feedback__agreement-field {
  width: 262px;

  @media (max-width: $tablet-width-only) {
    width: 273px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}
