.logo a {
  display: block;
}

.logo svg {
  width: 202px;
  height: 52px;

  fill: $text-white-color;

  @media (max-width: $mobile-width-only) {
    width: 38px;
    height: 38px;
  }
}

.logo--full svg {
  width: 216px;
  height: 52px;

  fill: $basic-extra-dark-cyan;
}
