.main-header {
  padding-top: 33px;
  display: flex;

  color: $text-white-color;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 17px;
  }
}

.main-header__contacts {
  margin: 0;
  margin-top: 14px;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  @media (max-width: $mobile-width-only) {
    margin-top: 6px;
  }
}

.main-header__contacts li {
  margin-left: 88px;

  @media (max-width: $tablet-width-only) {
    margin-left: 33px;
    width: 25px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 24px;
    width: 23px;
  }
}

.main-header__contacts a {
  position: relative;

  padding-left: 37px;
  display: inline-block;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: inherit;
  vertical-align: top;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width-only) {
    height: 24px;
  }
}

.main-header__contacts svg {
  position: absolute;
  top: 0;
  left: 0;
}

.main-header__contacts span {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-header__link--envelope svg {
  @media (max-width: $tablet-width-only) {
    width: 25px;
    height: 19px;
  }
}

.main-header__link--phone svg {
  @media (max-width: $tablet-width-only) {
    width: 24px;
    height: 24px;
  }
}

.main-header__link:focus svg,
.main-header__link:hover svg {
  @media (max-width: $tablet-width-only) {
    stroke: $text-white-color;
  }
}

.main-header__site-user {
  margin-left: 50px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-header__site-user a {
  margin-top: 4px;
  padding: 12px 12px;
  padding-top: 14px;
  width: 180px;
  display: block;

  font-family: $roboto-condensed-font-stack;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: inherit;

  border: 1px solid $text-white-color;
  border-radius: 5px;

  &:focus,
  &:hover {
    color: $basic-accent-blue-color;

    border-color: $basic-accent-blue-color;
  }

  &:active {
    opacity: 0.5;
  }
}
