.main-cover {
  min-height: 793px;

  color: $text-white-color;

  overflow: hidden;

  @media (max-width: $tablet-width-only) {
    position: relative;

    min-height: 608px;

    &::before {
      position: absolute;
      top: 35px;
      right: 0;

      width: 260px;
      height: 340px;

      content: "";

      background-image: url("../img/circuit-tablet.png");
      background-size: 260px 340px;
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/circuit-tablet@2x.png");
      }
    }

    &::after {
      position: absolute;
      top: -77px;
      right: 0;
      z-index: -1;

      width: 330px;
      height: 466px;

      content: "";

      background-image: url("../img/triangles-down-tablet.svg");
      background-size: 330px 466px;
    }
  }

  @media (max-width: $mobile-width-only) {
    min-height: 586px;

    &::before {
      top: 31px;
      right: 0;

      width: 294px;
      height: 220px;

      background-image: url("../img/circuit-mobile.png");
      background-size: 294px 220px;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/circuit-mobile@2x.png");
      }
    }

    &::after {
      top: -61px;
      right: 0;

      width: 169px;
      height: 437px;

      background-image: url("../img/triangles-down-mobile.svg");
      background-size: 169px 437px;
    }
  }
}

.main-cover__header {
  position: relative;

  padding-top: 226px;
  width: 718px;

  &::before,
  &::after {
    position: absolute;
    top: 172px;
    right: -771px;

    width: 705px;
    height: 515px;

    content: "";

    background-size: 705px 515px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    z-index: -100;

    background-image: url("../img/circuit.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/circuit@2x.png");
    }
  }

  &::after {
    top: 28px;
    right: -731px;
    z-index: -101;

    width: 671px;
    height: 641px;

    background-image: url("../img/triangles-down-desktop.svg");
    background-size: 671px 641px;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 110px;
    padding-left: 63px;
    width: 570px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 225px;
    padding-left: 0;
    width: auto;
  }
}

.main-cover__header h1 {
  margin: 0;

  font-family: $roboto-condensed-font-stack;
  font-size: 80px;
  line-height: 94px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @media (max-width: $tablet-width-only) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 40px;
    line-height: 47px;
  }
}

.main-cover__header p {
  position: relative;

  margin: 0;
  margin-top: 26px;
  padding-left: 94px;

  font-style: normal;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;

  &::before {
    position: absolute;
    top: 17px;
    left: -1px;

    width: 66px;
    height: 2px;

    content: "";

    background-color: $text-white-color;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 29px;
    padding-left: 51px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      top: 16px;
      left: 3px;

      width: 33px;
      height: 2px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
    padding-left: 49px;

    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
      left: 1px;
    }
  }
}

.main-cover__header a {
  margin-top: 43px;
  margin-left: 94px;
  padding: 17px 44px;
  display: inline-block;

  font-family: $roboto-condensed-font-stack;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.05em;
  vertical-align: top;

  background-color: $basic-accent-blue-color;
  border: 1px solid $basic-accent-blue-color;
  border-radius: 5px;

  &:focus,
  &:hover {
    border: 1px solid $basic-white-color;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 55px;
    margin-left: 51px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 286px;
    display: block;
  }
}

.main-cover__header span {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-cover__header .main-cover__short-button {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: inline;
  }
}

.main-cover__actions {
  margin-top: 84px;
  padding-top: 94px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-cover__actions a {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: inherit;
  vertical-align: bottom;

  opacity: 0.5;
  transform: rotate(-90deg);
  transform-origin: top left 0;

  &:focus,
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
