.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  min-width: $mobile-width;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  background-color: $background-modal-color;

  &--open {
    display: flex;
  }

  @media (max-width: $mobile-width-only) {
    align-items: flex-start;
  }
}

.modal-form__wrapper {
  position: relative;

  margin: 0 auto;
  padding: 33px 39px;
  padding-bottom: 36px;
  width: 490px;
  background-color: $basic-accent-blue-color;

  @media (max-width: $mobile-width-only) {
    padding: 20px 20px;
    width: 100%;
    min-height: 100%;
  }
}

.modal-form h2 {
  font-size: 28px;
  line-height: 39px;
}

.modal-form p {
  padding-right: 20px;
}

.modal-form__field {
  margin-top: 35px;
}

.modal-form__field input,
.modal-form__field textarea {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 17px;
}

.modal-form__field textarea {
  height: 101px;
}

.modal-form__form button {
  margin-top: 31px;
}

.modal-form__agreement-field {
  margin-top: 31px;
  padding-left: 50px;
}

.modal-form__agreement-field label {
  padding-right: 20px;

  &::before {
    top: 1px;
    left: -50px;
  }
}

.modal-form__form + button {
  position: absolute;
  top: 4px;
  right: 4px;

  font-size: 0;
  vertical-align: top;

  padding: 16px;
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  background-color: transparent;
}
