.navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;

  &:not(:first-child) {
    margin-left: 15.08%;

    @media (max-width: $tablet-width-only) {
      margin-left: 0;
    }
  }
}

.navigation a {
  font-size: 15px;
  line-height: 25px;
  color: inherit;

  opacity: 0.5;

  &:focus,
  &:hover {
    color: $basic-accent-blue-color;
    text-decoration: underline;

    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation nav {
  display: flex;

  @media (max-width: $tablet-width-only) {
    display: block;
  }
}
