/* Fonts */

$roboto-font-stack: "Roboto", "Arial", sans-serif;
$roboto-condensed-font-stack: "Roboto Condensed", "Arial", sans-serif;
$pt-mono-font-stack: "PT Mono", "Courier New", monospace;


/* Colors */

$basic-white-color: #fafafa;
$basic-extra-light-grey-color: #ebebeb;
$basic-light-grey-color: #cdcdcd;
$basic-accent-blue-color: #00b2ff;
$basic-extra-dark-cyan: #203c42;
$basic-blue-dark-color: #1b2d37;

$text-white-color: #ffffff;
$text-light-blue-grey-color: #788891;
$text-middle-grey-color: #666666;

$border-middle-grey-color: rgba(98, 105, 98, 0.2);
$background-field-color: rgba(255, 255, 255, 0.1);
$background-modal-color: rgba(0, 0, 0, 0.5);

/* Layouts */

$max-width-container: 1433px;

$tablet-width-only: 1023px;
$mobile-width-only: 767px;
$mobile-width: 320px;
