/* Fonts */

$roboto-font-stack: "Roboto", "Arial", sans-serif;
$roboto-condensed-font-stack: "Roboto Condensed", "Arial", sans-serif;
$pt-mono-font-stack: "PT Mono", "Courier New", monospace;


/* Colors */

$basic-white-color: #fafafa;
$basic-blue-dark-color: #1b2d37;


/* Layouts */
